
.home-body {
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/home-bo1.png');
    background-repeat:no-repeat;
    background-size: auto 100%;
    .home-h{
        opacity: 0.6;
        width: 100%;
        min-height: 100vh;
        background: url('../../assets/home-h.png');
        background-repeat:no-repeat;
        background-size: auto 100%;
    }
}
